<div class="container-filter-category" id="list">
    <ul class="grid-list">
        {{#each this}}
        <li class="item-grid" data-title-filter="{{title}}">
            <a class="link-goods" href="" >
                <img class="img-goods" src="{{imageUrls}}" alt="{{title}}" />
                <h3 class="title-goods" >{{title}}</h3>
                <p class="price-goods">{{price}} &#x020AC</p>
            </a>
        </li>
        {{/each}}
    </ul>
</div>


{{!-- <ul class="grid-list items_product container" id="list">
    {{#each this}}
    <li class="item-grid item_product">
        <a class="link-goods item_product_linc" data-serch={{title}} href="">
            <div class="thumb">
                <img class="img-goods img_product" src="{{imageUrls}}" alt="{{title}}" />
            </div>
            <h3 class="title-goods title_product">{{title}}</h3>
            <p class="price-goods valid_price">{{price}} &#x020AC</p>
        </a>
    </li>
    {{/each}}
</ul> --}}