<section class="section">
    <div class="container js-container-category" data-title-filter="{{title}}">
        {{#each this}}
        <div class="categories" data-title-filter="{{title}}">
            <div class="title_categories_conteiner" data-title-filter="{{title}}">
                <h2 class="title_categories">{{title}}</h2>
            </div>

            <ul class="items_product swiper-container" data-title-filter="{{title}}">
                <div class="swiper-wrapper" data-title-filter="{{title}}">
                    {{#each products}}
                    <div class="swiper-slide" data-title-filter="{{title}}">
                        <li class="item_product" data-title-filter="{{title}}">
                            <a class="item_product_linc" data-title-filter="{{title}}" data-serch={{title}} href="">
                                <div class="thumb" data-title-filter="{{title}}">
                                    <img class="img_product" data-title-filter="{{title}}" src="{{imageUrls}}"
                                        alt="{{description}}" />
                                </div>
                                <h3 class="title_product" data-title-filter="{{title}}">{{title}}</h3>
                                <div class="price" data-title-filter="{{title}}">
                                    {{#if oldPrice}}
                                    <p class="old_price" data-title-filter="{{title}}">{{oldPrice}} &#x020AC</p>
                                    {{/if}}
                                    <p class="valid_price" data-title-filter="{{title}}">{{price}} &#x020AC</p>
                                </div>
                            </a>
                        </li>
                    </div>
                    {{/each}}
                </div>

                <div class="swiper-pagination"></div>

                <div data-action="btn-swiper-prev" class="swiper-button-prev"></div>
                <div data-action="btn-swiper-next" class="swiper-button-next"></div>
            </ul>
        </div>
        {{/each}}
    </div>
    <div class="loader-btn is-hidden-spinner">
        <div class="inner one"></div>
        <div class="inner two"></div>
        <div class="inner three"></div>
    </div>
</section>

<section class="section-btn">
    <div class="container-btn">
        <button type="button" class="btn" data-action="load-more"> Загрузить
            еще </button>
    </div>
</section>