<div class="backdrop-add">
    <div class="modal-add">
        <button type="button" class="modal-add-close" id="cancelBtn">X</button>
        <form class="form-add form__call js__form" enctype="multipart/form-data" method="post">
            <h2 class="title-form-add">Coздать объявление</h2>
            <label class="label-add">
                <span class="fields">Название товара</span>
                <input type="text" name="title" class="input-form" placeholder=" " value="{{title}}">
            </label>
            <label for="file" class="label-add" placeholder=" ">
                <span class="fields photo">Фото</span>
                <div class="file" name="file">
                    <span class="download">+</span>
                    <img src="" alt="" name="file-preload">
                </div>
                <div class="file">
                    <img src="" alt="" name="file-preload">
                </div>
                <div class="file">
                    <img src="" alt="" name="file-preload">
                </div>
                <div class="file">
                    <img src="" alt="" name="file-preload">
                </div>
                <div class="file">
                    <img src="" alt="" name="file-preload">
                </div>
                <input type="file" id="file" class="inputfile" size="5" name="file">
            </label>

            <label for="" class="label-add">
                <span class="fields">Описание товара</span>
                <input type="text" class="input-form" name="description" placeholder=" " value="{{description}}">
            </label>

            <label for="" class="label-add label-category">
                <span class="fields">Категория товара</span>
                <input type="text" class="input-form" name="category" placeholder=" " value="{{category}}">
                <div id="triangle-down"></div>
                <ul class="wrap-category">
                    <li class="category-items">
                        <a href="" class="category-link" data-category="property">Недвижимость</a>
                    </li>
                    <li class="category-items">
                        <a href="" class="category-link" data-category="transport">Транспорт</a>
                    </li>
                    <li class="category-items">
                        <a href="" class="category-link" data-category="work">Работа</a>
                    </li>
                    <li class="category-items">
                        <a href="" class="category-link" data-category="electronics">Электроника</a>
                    </li>
                    <li class="category-items">
                        <a href="" class="category-link" data-category="business and services">Бизнес и услуги</a>
                    </li>
                    <li class="category-items">
                        <a href="" class="category-link" data-category="recreation and sport">Отдых и спорт</a>
                    </li>
                    <li class="category-items">
                        <a href="" class="category-link" data-category="free">Отдам бесплатно</a>
                    </li>
                    <li class="category-items">
                        <a href="" class="category-link" data-category="trade">Обмен</a>
                    </li>
                </ul>
            </label>
            <label for="" class="label-add">
                <span class="fields">Цена</span>
                <input type="text" placeholder="0.00 €" class="input-form" name="price" value="{{price}}">
            </label>

            <label for="" class="label-add">
                <span class="fields">Телефон</span>
                <input type="tel" placeholder="+38 (0--) --- -- --" class="input-form" name="phone" value="{{phone}}">
            </label>

            <button class="btn-form-add" type="submit" name="userAd">Добавить</button>
            <div class="wrap-spinner">
                <div class="loader">
                    <div class="inner one"></div>
                    <div class="inner two"></div>
                    <div class="inner three"></div>
                </div>
            </div>

        </form>
    </div>
</div>