<div class="item-container">
    {{#each this}}
    <div class="banner-items" >
        <div class="banner-item">
            <span class="banner-item_text">{{title}}</span>
            <div class="banner-item_price_block" >
                <span class="banner-price_currency_tablet">€</span>
                <span class="banner-item_price" >{{price}}</span>
            </div>
        </div>
        <img class="banner-item_img" src="{{imageUrl}}" alt="{{title}}" width="150px"
            data-search="{{title}}" />
    </div>
    {{/each}}
</div>