<button class="button" data-action="open-modal">Open modal</button>
<div class="backdrop js-backdrop">
  <div class="modal">
    {{!-- <img src="" alt="" width="428" height="465"> --}}
    <div class="file">
      <span class="download">+</span>
    </div>
    <div class="file"></div>
    <div class="file"></div>
    <div class="file"></div>
    <div class="file"></div>
    <h2>{{title}}</h2>
    {{#each items}}
    <p>{{this}}</p>
    {{!-- <p>{{this}}</p>
    <button class="info">Информация о продавце</button>
    <p>{{this}}</p>
    <p>{{this}}</p>
    <p>{{this}}</p>
    <p>{{this}}</p> --}}
    {{/each}} <button type="button" class="button" data-action="close-modal">close</button>
  </div>
</div>