<div class="backdrop">
  <div class="modal">
    <button class="close">X</button>
    <div class="image-list">
      {{#each imageUrls}}
      <div class="imgWrapper">

        <div class="image">

          <img class="image_main" src="{{this}}" alt="">

        </div>
      </div>
      <div class="imgWrapper">

        <div class="image">

          <img class="image_main" src="{{this}}" alt="">

        </div>
      </div>
      <div class="imgWrapper">

        <div class="image">

          <img class="image_main" src="{{this}}" alt="">

        </div>
      </div>
      <div class="imgWrapper">

        <div class="image">

          <img class="image_main" src="{{this}}" alt="">

        </div>
      </div>
      {{/each}}
    </div>
    <div class="description_wrapper">

      <h2 class="title">{{title}}</h2>
      <p class="code_product">Код товара | {{_id}}</p>
      <p class="price">{{price}} &#8364;</p>

      <button class="infoBtn">Информация о продавце</button>


      <div class="add">
        <p class="favorites">В избранное</p>
        <img class="card_vector-notActiv" src="${Vector}">
        <p class="share">Поделиться</p>
        <img class="card_vector-share" src="${Vector_share}">
      </div>
      <h3 class="title_text">Описание</h3>
      <p class="description">{{description}}</p>




    </div>

  </div>
</div>