<div class="backdrop">
  <div class="modal">

    <div class="image-list swiper-container">
      <div class="swiper-wrapper">
        {{#each imageUrls}}
        <div class="imgWrapper swiper-slide">

          <div class="image">

            <img class="image_main" src="{{this}}" alt="">

          </div>
        </div>

        {{/each}}
      </div>
    </div>

    <div class="description_wrapper">
      <div class="title-box">
        <h2 class="title">{{title}}</h2>
        <button class="close">X</button>
      </div>
      <p class="code_product">Код товара | {{_id}}</p>
      <p class="price">{{price}} &#8364;</p>

      <button class="infoBtn">Информация о продавце</button>


      <div class="add">
        <p class="favorites">В избранное</p>
        <img class="card_vector-notActiv" src="${Vector}">
        <p class="share">Поделиться</p>
        <img class="card_vector-share" src="${Vector_share}">
      </div>
      <h3 class="title_text">Описание</h3>
      <p class="description">{{description}}</p>

    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>