<ul class="items_product swiper-container">
  <div class="swiper-wrapper">
    {{#each products}}
    <div class="swiper-slider">
      <li class="item_product">
        <a href="">
          <div class="thumb">
            <img class="img_product" src="{{imageUrls}}" alt="{{description}}" />
          </div>
          <h3 class="title_product">{{title}}</h3>
          <div class="price">
            <P class="old_price">{{price}} €</P>
            <P class="valid_price">{{price}} €</P>
          </div>
        </a>
      </li>
    </div>
    {{/each}}
  </div>

  <div class="swiper-pagination"></div>

  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</ul>